{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <h3>Welcome</h3>
    <div class="table-container">
    <table id="stock-show">
        <tr>
            <th>Stock</th>
            <th># Holding</th>
            <th>Current Price</th>
            <th>Total Value</th>
        </tr>
        {% for i in range(userinfo|length) %}
        <tr>
            <td>{{ userinfo[i][0] }}</td>
            <td>{{ userinfo[i][1] }}</td>
            <td>{{ userinfo[i][2] | usd }}</td>
            <td>{{ userinfo[i][3] | usd }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div class="table-container">
        <table id="stock-show">
            <tr>
                <th>Cash</th>
                <th>Stock + Cash Value</th>
            </tr>
            <tr>
                <td>{{ cash | usd }}</td>
                <td>{{ grand_total | usd }}
            </tr>
        </table>
    </div>
{% endblock %}
